body{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: unset;
}
a:visited{
    text-decoration: none;
    color: unset;
}
a:hover{
    text-decoration: none;
    color: unset;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0.2rem;
    font-size: 16px;
}
.navbar-nav{
    .nav-link{
        color: unset!important;
    }
    .navbar-light{
        color:unset!important;
    }
}
// .active{
//     font-weight: bold;
//     color: #dd499b!important;
// }
.m-nav{
   margin-top: 66px;
}
.section-wrapper{
    min-height: 40vh;
}
.text-magenta{
    color: rgb(221, 73, 155);
}
.gradient-turquoise{
    background: rgb(140,195,189);
    background: linear-gradient(0deg, rgba(140,195,189,1) 0%, rgba(245,245,250,1) 50%);
}
.gradient-peach{
    background: rgb(241, 210, 195);
    background: linear-gradient(0deg, rgb(241, 210, 195) 0%, rgba(245,245,250,1) 50%);
}
.gradient-sky{
    background: rgb(132,205,235);
    background: linear-gradient(0deg, rgba(132,205,235,1) 0%, rgba(245,245,250,1) 50%);
}
.gradient-lemon{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(207, 207, 207) 0%, rgb(255, 255, 255) 50%);
}
.rounded-card{
    border-radius: 10px;
    box-shadow: lightgray 0 0 30px;
    text-align: center;
    font-size: 16px;
    background-color: white;
}
@media (min-width : 992px){
    .rounded-card{
        height: 0;
        padding-bottom: 25%;
        padding-right: 0;
        padding-left: 0;
    }
    .rounded-card__nested{
        padding-bottom: 100%;
    }
}
@media (max-width : 576px){
    .rounded-card{
        height: 0;
        padding-bottom: 33%;
        padding-right: 0;
        padding-left: 0;
    }
    .rounded-card__nested{
        padding-bottom: 100%;
    }
}
.footer{
    min-height: 10vh;
}
.mw-container{
    max-width: 1320px;
}
.nav-link{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.border-10{
    border-radius: 10px;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  .lang-flag {
    display: inline-block;
    vertical-align: text-bottom;
    height: 24px;
}
.language{
    content: url("/img/language.svg");
    height: 26px;
    display: inline-block;
    vertical-align: baseline;
    }
.lang{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1px;
    letter-spacing: -3px;
}
@media(max-width:720px){
    .mobile{
        display: block !important;;
    }
    .desktop{
        display: none !important;;
    }
}
@media(min-width:721px){
    .mobile{
        display: none !important;;
    }
    .desktop{
        display: block !important;;
    }
}
.lang-wrapper-desktop{

    left:-100px!important;
}