<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Colorinks page not found</title>
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/colorink-logo-transparent.png" alt="colorink-logo" width="200">
            <h2>404</h2>
            <p>Page not found</p>
            <a href="/">Colorink</a>
        </div>
    </div>
</body>
</html>