<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= metaDescription %> ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title><%= company %></title>
    <script type="module" src="/scripts/map.js"></script>
</head>
<body>
<%- include('navbar.ejs');%>
<%- include('main.ejs');%>
<%- include('footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiS7ArvmgPLmM1c-1JwC-hXAVsnej40rE&callback=initMap">
</script>
</body>
</html>