<div class="container-fluid m-nav">
    <div id="top" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 row d-flex align-items-center justify-content-center section-wrapper">
                <div class="col-12 col-lg-4 p-3 order-2 order-lg-1">
                    <h1><%= buy %> </h1>
                    <p><%= buyDescription %> </p>
                </div>
                <div class="col-12 col-lg-4 d-flex justify-content-center  order-1 order-lg-2">
                    <img class="img-fluid p-3" src="/img/skup.webp" alt="colorink recycle picture">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 row d-flex align-items-center justify-content-center section-wrapper">
                <div class="col-12 col-lg-4 d-flex justify-content-center order-xs-1">
                    <img class="img-fluid p-3" src="/img/regen.webp" alt="colorink recycle picture">
                </div>
                <div class="col-12 col-lg-4 p-3 order-xs-2">
                    <h1><%= regeneration %></h1>
                    <p><%= regenerationDescription %> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gradient-peach">
    <div id="eko" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 row d-flex align-items-center justify-content-center section-wrapper">
                <div class="col-12 col-lg-4 p-3 pt-5">
                    <h1 class="text-uppercase">#<%= being %><span class="text-magenta">eko</span></h1>
                    <p><%= ekoDescpription %> </p>
                </div>
                <div class="col-12 col-lg-4 d-flex justify-content-center">
                    <img class="img-fluid p-1 pb-5" src="/img/clouds.webp" alt="colorink cloud picture">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="pricing" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 row d-flex justify-content-between align-items-center section-wrapper">
                <div class="col-12 my-5">
                    <h1><%= buyPrices %> </h1>
                </div>
                <div class="col-4 col-lg-3 rounded-card">
                    <img class="img-fluid" src="/img/cardrige1.webp" alt="colorink buy cartrige model">
                    <%= buyPriceValue1 %>
                </div>
                <div class="col-4 col-lg-3 rounded-card">
                    <img class="img-fluid" src="/img/cardrige2.webp" alt="colorink buy cardrige model">
                    <%= buyPriceValue2 %>
                </div>
                <div class="col-4 col-lg-3 rounded-card">
                    <img class="img-fluid" src="/img/cardrige3.webp" alt="colorink buy cardrige model">
                    <%= buyPriceValue3 %>
                </div>

                <div class="col-12 my-5">
                    <h1><%= regenPrice %> </h1>
                </div>
                <div class="col-4 col-lg-3 rounded-card mb-5">
                    <img class="img-fluid" src="/img/black.webp" alt="colorink black cardeige picture">
                    <%= regenPriceValue1 %>
                </div>
                <div class="col-4 col-lg-3 rounded-card mb-5">
                    <div>
                        <img class="img-fluid" src="/img/color.webp" alt="colorink color cardeige picture"><br>
                        <%= regenPriceValue2 %>
                    </div>
                </div>
                <div class="col-4 col-lg-3 rounded-card mb-5">
                    <img class="img-fluid" src="/img/colorink-logo-minimal.webp" alt="colorink logo minimal">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="promotion" class="container">
        <div class="row d-flex justify-content-center align-items-center section-wrapper pb-5">
            <div class="col-12 col-lg-8 row pt-5 pb-4">
                <h2><%= promotion %> </h2>
                <h2 class="small"><%= promotionInfo %> </h2>
            </div>
            <div class="col-12 col-lg-8 row d-flex justify-content-between align-items-start">
            <div class="col-4 col-lg-3">
                <div class="rounded-card rounded-card__nested">
                    <img class="img-fluid" src="/img/four.webp" alt="colorink cardriges picture">
                </div>
                <div class="mt-4 p-0">
                    <p class="text-justify"><%= promotionDescription1 %> </p>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="rounded-card rounded-card__nested">
                    <img class="img-fluid" src="/img/free.webp" alt="colorink free ink">
                </div>
                <div class="mt-4 p-0">
                    <p class="text-justify"><%= promotionDescription2 %></p>
                </div>
            </div>
            <div class="col-4 col-lg-3 ">
                <div class="rounded-card rounded-card__nested">
                    <img class="img-fluid border-10" src="/img/post.webp" alt="colorink post picture">
                </div>
                <div class="mt-4 p-0">
                    <p class="text-justify"><%= promotionDescription3 %></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="contact" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 row d-flex justify-content-center align-items-center section-wrapper">
                <div class="col-12 col-lg-6 p-0">
                    <h1><%= findUsHere %> </h1><br>
                    <address>
                        <ul>
                            <li>
                                <b><span class="text-magenta">Color</span>ink</b> Sp. z o.o.
                            </li>
                            <li>
                                Zaułek Wolski 1
                            </li>
                            <li>
                                50-023 Wrocław
                            </li>
                            <li>
                                <a href="tel:+48782427932">tel. +48 782 427 932</a>
                            </li>
                            <li>
                                <a href="tel:+48502461107">tel. +48 502 461 107</a>
                            </li>
                            <li>
                                <a href="mailto:serwis.hp.wroclaw@gmail.com">serwis.hp.wroclaw@gmail.com</a>
                            </li>
                            <li>
                                <a href="mailto:skuptuszycolorink@onet.pl"></a>skuptuszycolorink@onet.pl</a>
                            </li>
                            <li>
                                BDO: 000557510
                            </li>
                        </ul>
                    </address><br>
                    <h3><%= packageAddres %> </h3>
                </div>
                <div class="col-12 col-lg-6">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gradient-lemon">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 row d-flex align-items-center footer">
                <div class="col-6 col-lg-3">
                    <img class="img-fluid" src="/img/colorink-logo-transparent.png" alt="" width="200">
                    <br><span class="small text-right">copyright Colorink 2022</span>
                </div>
            </div>
        </div>
    </div>
</div>