<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top justify-content-center">
  <ul class="navbar-nav mobile">
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="lang">LANG</span>
        <i class="language"></i>
      </a>
      <ul class="dropdown-menu position-absolute" aria-labelledby="languageDesktopDropdownMenuLink">
        <li><a class="dropdown-item" href="/pl<%= originalUrl%>"><img class="lang-flag" src="/img/PL.webp" alt="language-polish" width="30"> Polski</a></li>
        <li><a class="dropdown-item" href="/en<%= originalUrl %>"><img class="lang-flag" src="/img/EN.webp" alt="language-english" width="30"> English</a></li>
      </ul>
    </li>
  </ul>
    <a class="navbar-brand mx-5" href="#"><img src="/img/colorink-logo-transparent.png" alt="logo-colorink" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center mw-container margin-auto" id="navbarNav">
      <ul class="navbar-nav w-50 justify-content-around">
        <li class="nav-item active">
          <a class="nav-link" href="#top">Początek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eko">#JESTEMEKO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Cennik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#promotion">Promocja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav desktop">
      <li class="nav-item dropdown">
        <a class=" dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="lang">LANG</span>
          <i class="language"></i>
        </a>
        <ul class="dropdown-menu lang-wrapper-desktop" aria-labelledby="languageDesktopDropdownMenuLink">
          <li><a class="dropdown-item" href="/pl<%= originalUrl%>"><img class="lang-flag" src="/img/PL.webp" alt="language-polish" width="30"> Polski</a></li>
          <li><a class="dropdown-item" href="/en<%= originalUrl %>"><img class="lang-flag" src="/img/EN.webp" alt="language-english" width="30"> English</a></li>
        </ul>
      </li>
    </ul>
  </nav>